.footer {
  margin-top: 2rem;
  background-color: rgb(243, 247, 252);
  padding: 2rem 4rem ;
  display: flex;
  justify-content: space-between;
}

.img{
  width:50px;
}

.socialtext {
  display: flex;
  align-items: center;
  gap: 0.3rem
}

@media (max-width: 768px){
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap:20px

  }
}
